# setup instructions
# 1. ln -s $(pwd)/.gitconfig ~/.gitconfig
# ---------------------------------------

[user]
	email = pablo.panero@preply.com
	name = Pablo Panero
[github]
    user = ppanero
[core]
    excludesfile = ~/Workspace/dotfiles/.gitignore_global
    editor = vim
    ignorecase = false
[pager]
    diff = false
[alias]
    a = add
    alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
    ap = add -p
    b = branch
    ci = commit
    cia = commit --amend
    cleanbranches = ! git branch | grep -v "master" | xargs git branch -D
    co = checkout
    cob = checkout -b
    d = diff
    f = fetch
    fa = fetch --all
    fire = ! git add -A && git ci -m "FIRE!" && git push -f
    fo = fetch origin
    fom = fetch origin master
    fp = fetch -p
    g = grep
    mf = merge --ff-only
    p = pull
    prom = pull --rebase origin master
    rba = rebase --abort
    rbc = rebase --continue
    rh = reset --hard
    s = status
    zen = ! git co master && git cleanbranches && git fp && git prune
[commit]
	gpgsign = true
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
