# setup instructions
# 1. ln -s $(pwd)/.gitconfig ~/.gitconfig
# ---------------------------------------

[user]
	email = pablo.panero@preply.com
	name = Pablo Panero
[github]
    user = ppanero
[core]
    excludesfile = ~/Workspace/dotfiles/.gitignore_global
    editor = vim
    ignorecase = false
[pager]
    diff = false
[alias]
    a = add
    ap = add -p
    b = branch
    ci = commit
    cia = commit --amend
    co = checkout
    cob = checkout -b
    d = diff
    f = fetch
    fa = fetch --all
    fo = fetch origin
    fom = fetch origin master
    g = grep
    mf = merge --ff-only
    p = pull
    prom = pull --rebase origin master
    rba = rebase --abort
    rbc = rebase --continue
    s = status
[commit]
	gpgsign = true
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
